/*set global variables*/

:root {
    --bgcolour: darkcyan;
    --accent: lightslategrey;
}

/*Set global fonts */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*Set body formatting*/

body {
    background-image: url(../images/bgrd.PNG);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

/*Set header formatting*/

header {
    background-color: var(--bgcolour);
    display: flex;
    padding: 50px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    flex 1 1;
}

/*format text within header*/

h1 {
    color: white;
    position: absolute;
    text-align: left;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 40px;
    top: 0;
    left: 0px; 
    background-color: var(--accent);
    border-bottom: 10px solid white;
    width: 28%;
}

/*Format anchor links*/

a {
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

/*Set nav bar formatting*/

nav {
    position: absolute;
    top: 75px;
    right: 50px;
    text-align: right;
    margin-right: 50px;
    background-color: var(--bgcolour);
    flex: 1 1;
}

/*Format anchor links in navbar*/

nav > a {
    margin: 15px;
}

/*set formatting for background image up top*/

#avatar {    
    width: 250px;
    border-radius: 10px;
    z-index: 0;
    justify-content: right;
   align-self: flex-end;
}

#photo {
    border-radius: 10px;
    border: 10px solid var(--bgcolour);
background-color: var(--bgcolour);
}

/*format lower portion of document*/

.sidetitle{
    font-size: 30px;
    font-weight: bolder;
}

main {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

main > div {
    display: inline-flex;
    flex-direction: row;
align-content: space-between;

}

    /*Style text in intro beneath image*/

    .intro {
        font-size: 22px;
        font-style: oblique;
    
        padding-top: 100px;
    }

    main > p {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0.61);
}

.sidebar {
    border-right: 10px solid white;
    padding-right: 30px;
    padding-left: 30px;
    background-color: darkcyan;
    color: white;
    flex: 1 1 20%;
    border-top: 10px solid white;
    text-align: right;
}

/*Format unordered list and list elements in About Me section*/
ul {
    text-align: left;
}

li:nth-child(odd) {
    background: rgb(96, 108, 121);
}

.rightside {
    width: 80%;
    flex: 1 1 70%;
    border-top: 10px solid white;
    background-color: var(--accent);
}

/*Format size of link to project page*/

div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

figcaption {
    border-radius:  10px;
}

#projectimage1 {
      width: 350px;
    }

    #projectimage2 {
        width: 250px;
      } 

    /*added padding below resume link in main body*/
#resume {
    padding-bottom: 15px;
}

/*Added padding to contact section*/

#contact {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Added glow when project is hovered over*/

#projectimage1:hover,
#projectimage2:hover {
    border-color: #66afe9;
    box-shadow: 0 0 20px rgba(0, 139, 139, 0.7);
    cursor: pointer;
  }

  /*Added project image and caption as figure*/
  figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
  }

  figcaption {
      background-color: rgb(63, 63, 63);
      color: white;
      font-style: italic;
      width: 250px;
  }

/*Format contact links in Contact section*/
  
.contact {
    padding: 20px;
}

/*Format footer*/
  
 footer {
    color: black;
    font-size: 14px;
    font-style: oblique;
    text-align: center;
    border-top: 10px solid white;
    width: 100%;
}

h4 {
    background-color: rgba(255, 255, 255, 0.61);
    width: auto;
}

/*Page displays as one column at 768px or smaller   */
@media (max-width: 768px) {
    h1 {
           font-size: 3.5vw;
           margin-top: 20px;
    }

    main {
        flex-direction: column;
    } 

    .sidebar {
        text-align: center;
        flex-direction: row;
        flex-direction: column;
        border-left: 10px solid white;
    }

    .rightside {
        text-align: center;
        flex-direction: column;
        width: 100%;
    }

    body {
        flex-direction: column;
    }

    .contact {
        display: block;
        padding: 10px;
    }

    #contact {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

  }


