/*set global variables*/

:root {
    --bgcolour: darkcyan;
    --accent: lightslategrey;
}

/*Set global fonts */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*Set body formatting*/

body {
    background-color: var(--accent);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

/*Set header formatting*/

header {
    background-color: var(--bgcolour);
    display: flex;
    padding: 50px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    border-bottom: 10px solid black;
    flex 1 1;
}

/*format text within header*/

h1 {
    color: white;
    position: absolute;
    text-align: left;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 40px;
    top: 0;
    left: 0px; 
    background-color: var(--accent);
    border-bottom: 10px solid white;
    width: 28%;
}

/*Format anchor links*/

a {
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

/*Set nav bar formatting*/

nav {
    position: absolute;
    top: 75px;
    right: 50px;
    text-align: right;
    margin-right: 50px;
    background-color: var(--bgcolour);
}

/*Format anchor links in navbar*/

nav > a{
    margin: 15px;
}

/*set formatting for background image up top*/

#background{
   z-index: -1;
    padding-top: 100px;
    width: 100%;
}

/*format lower portion of document*/

.sidetitle{
    font-size: 30px;
    font-weight: bolder;
}

/*NEVER USED THIS*/
aside {
    left: 0;
    width: 20%;
    text-align: right;
    background-color: lightslategray;
}

main {

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap; 
    }

    /*Style text in intro beneath image*/

    .intro {
        font-size: 22px;
        font-style: oblique;
    }

    main > p {
    padding: 10px;
}

.sidebar {
    border-right: 10px solid white;
    padding-right: 30px;
    padding-left: 30px;
    background-color: darkcyan;
    color: white;
    flex: 1 1 20%;
    border-top: 10px solid white;
    text-align: right;
}

/*Format unordered list and list elements in About Me section*/
ul {
    text-align: left;
}

li:nth-child(odd) {
    background: rgb(96, 108, 121);
}



.rightside {
    width: 80%;
    flex: 1 1 70%;
    border-top: 10px solid white;
}

/*Format size of link to project page*/

#project {
      width: 250px;
    }

    /*added padding below resume link in main body*/
#resume {
    padding-bottom: 15px;
}

/*Added padding to contact section*/

#contact {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Added glow when project is hovered over*/

#project:hover {
    border-color: #66afe9;
    box-shadow: 0 0 20px rgba(0, 139, 139, 0.7);
    cursor: pointer;
  }

  /*Added project image and caption as figure*/
  figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
  }

  figcaption {
      background-color: rgb(63, 63, 63);
      color: white;
      font-style: italic;
      width: 250px;
  }

/*Format contact links in Contact section*/
  
.contact {
    padding: 20px;
}

/*Format footer*/
  
 footer {
    color: white;
    font-size: 14px;
    text-align: center;
    background-color: lightslategray;
    border-top: 10px solid white;
    width: 100%;
}

/*Cards are split into two columns at 992px or smaller 
@media (max-width: 1030px) {
    main {
        flex-direction: column;
        width: 100%;
    }
    main > section {
      width: 100%;
    }
    .sidebar {
    width: 100%;
    }
    .rightside {
        width: 100%;
        justify-content: center;
    }
*/

 
/*Page displays as one column at 768px or smaller   */
@media (max-width: 768px) {
    h1 {
           font-size: 3vw;
    }

    main {
        flex-direction: column;
    } 

    .sidebar {
        text-align: center;
        flex-direction: row;
    }

    .rightside {
        text-align: center;
        flex-direction: column;
    }


  }


